main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}
article {
 min-width: 400px;
 border: 1px solid lightgray;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 border-radius: 15px;
 overflow: hidden;
 display: flex;
 flex-basis: 40%;
  /*transition: background-color 2s, box-shadow 3s, color 1s;*/
  transition: all .5s ease-in-out;
}
article img {
  width: 40%;
  object-fit: contain;
}
div {
  padding: 5px 10px 5px;
  
}
a {
  font-family: 'Zen Old Mincho', serif;
}
p {
  font-family: 'Irish Grover', cursive;
}
h2 {
  display: none;
}
article:nth-child(2n+0) {
  flex-direction: row-reverse;
}
article:hover{
  box-shadow: 0 0 5px red;
  background-color: black;
  color: white;
}
